body {
  background-color: #ffffff;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.5em;
}

nav {
  background-color: rgba(0,0,0,.8);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  color: #F17C55;
  text-decoration: none;
}

a:hover {
  color: #f15a24;
}

a:active {
  color: #ce4d1e;
}

figcaption {
  font-size: .9em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 2.8em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.4em;
}

p {
  margin-bottom: 1em;
}

.author {
  font-size: 1.2em;
  line-height: 2.8em;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
